@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.rozha-one-regular {
  font-family: "Rozha One", serif;
  font-weight: 400;
  font-style: normal;
}

/* Hide caret on language dropdown toggle */
#language-dropdown::after,
#language-dropdown .dropdown-toggle::after {
  display: none !important;
}